<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Let us now load the ipython-sql  extension and establish a connection with the database

* Here you will be loading the csv files into the pandas Dataframe and then loading the data into the above mentioned sqlite tables.

* Next you will be connecting to the sqlite database  **FinalDB**.

Refer to the previous lab for hints .

<a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing_SQLite.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://hwm32972:GWtEwd0KhWvETyvh@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB?security=SSL

'Connected: hwm32972@BLUDB'

In [3]:
!pip install -q pandas==1.1.5

In [4]:
%sql SELECT TABSCHEMA, TABNAME, CREATE_TIME FROM SYSCAT.TABLES WHERE TABSCHEMA='HWM32972'

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[('HWM32972', 'PETSALE', datetime.datetime(2023, 8, 29, 11, 31, 4, 254654)),
 ('HWM32972', 'PETRESCUE', datetime.datetime(2023, 8, 31, 8, 54, 30, 38772)),
 ('HWM32972', 'EMPLOYEES', datetime.datetime(2023, 8, 31, 10, 19, 56, 718621)),
 ('HWM32972', 'JOB_HISTORY', datetime.datetime(2023, 8, 31, 10, 19, 56, 846162)),
 ('HWM32972', 'JOBS', datetime.datetime(2023, 8, 31, 10, 19, 56, 967200)),
 ('HWM32972', 'DEPARTMENTS', datetime.datetime(2023, 8, 31, 10, 19, 57, 94088)),
 ('HWM32972', 'LOCATIONS', datetime.datetime(2023, 8, 31, 10, 19, 57, 216828)),
 ('HWM32972', 'INSTRUCTOR2', datetime.datetime(2023, 9, 2, 18, 41, 4, 971112)),
 ('HWM32972', 'INSTRUCTOR', datetime.datetime(2023, 9, 3, 8, 40, 4, 436625)),
 ('HWM32972', 'CHICAGO_SOCIOECONOMIC_DATA', datetime.datetime(2023, 9, 4, 8, 30, 28, 315372)),
 ('HWM32972', 'SCHOOLS', datetime.datetime(2023, 9, 7, 11, 45, 50, 928598)),
 ('HWM32972', 'CENSUS_DATA', datetime.datetime(2023, 9, 8, 7, 1, 59, 280699)),
 ('HWM32972', 'CHICAGO_CRIME_DATA', datetime.datetime(2023, 9, 8, 7, 2, 53, 997716)),
 ('HWM32972', 'CHICAGO_PUBLIC_SCHOOLS', datetime.datetime(2023, 9, 8, 7, 4, 15, 321557))]

In [5]:
%sql SELECT COUNT(*) FROM SYSCAT.COLUMNS WHERE TABNAME='CHICAGO_PUBLIC_SCHOOLS'

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[(78,)]

In [6]:

%sql SELECT COUNT(*) FROM SYSCAT.COLUMNS WHERE TABNAME='CENSUS_DATA'

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[(9,)]

In [7]:
%sql SELECT COUNT(*) FROM SYSCAT.COLUMNS WHERE TABNAME='CHICAGO_CRIME_DATA'

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[(21,)]

In [8]:
%sql SELECT TABNAME, COLNAME, TYPENAME, LENGTH FROM SYSCAT.COLUMNS WHERE TABNAME='CHICAGO_PUBLIC_SCHOOLS'

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[('CHICAGO_PUBLIC_SCHOOLS', 'SCHOOL_ID', 'INTEGER', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'NAME_OF_SCHOOL', 'VARCHAR', 65),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Elementary, Middle, or High School', 'VARCHAR', 2),
 ('CHICAGO_PUBLIC_SCHOOLS', 'STREET_ADDRESS', 'VARCHAR', 29),
 ('CHICAGO_PUBLIC_SCHOOLS', 'CITY', 'VARCHAR', 7),
 ('CHICAGO_PUBLIC_SCHOOLS', 'STATE', 'VARCHAR', 2),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ZIP_CODE', 'INTEGER', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'PHONE_NUMBER', 'VARCHAR', 14),
 ('CHICAGO_PUBLIC_SCHOOLS', 'LINK', 'VARCHAR', 78),
 ('CHICAGO_PUBLIC_SCHOOLS', 'NETWORK_MANAGER', 'VARCHAR', 40),
 ('CHICAGO_PUBLIC_SCHOOLS', 'COLLABORATIVE_NAME', 'VARCHAR', 34),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ADEQUATE_YEARLY_PROGRESS_MADE_', 'VARCHAR', 3),
 ('CHICAGO_PUBLIC_SCHOOLS', 'TRACK_SCHEDULE', 'VARCHAR', 12),
 ('CHICAGO_PUBLIC_SCHOOLS', 'CPS_PERFORMANCE_POLICY_STATUS', 'VARCHAR', 16),
 ('CHICAGO_PUBLIC_SCHOOLS', 'CPS_PERFORMANCE_POLICY_LEVEL', 'VARCHAR', 15),
 ('CHICAGO_PUBLIC_SCHOOLS', 'HEALTHY_SCHOOL_CERTIFIED', 'VARCHAR', 3),
 ('CHICAGO_PUBLIC_SCHOOLS', 'SAFETY_ICON', 'VARCHAR', 11),
 ('CHICAGO_PUBLIC_SCHOOLS', 'SAFETY_SCORE', 'SMALLINT', 2),
 ('CHICAGO_PUBLIC_SCHOOLS', 'FAMILY_INVOLVEMENT_ICON', 'VARCHAR', 11),
 ('CHICAGO_PUBLIC_SCHOOLS', 'FAMILY_INVOLVEMENT_SCORE', 'VARCHAR', 3),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ENVIRONMENT_ICON', 'VARCHAR', 11),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ENVIRONMENT_SCORE', 'SMALLINT', 2),
 ('CHICAGO_PUBLIC_SCHOOLS', 'INSTRUCTION_ICON', 'VARCHAR', 11),
 ('CHICAGO_PUBLIC_SCHOOLS', 'INSTRUCTION_SCORE', 'SMALLINT', 2),
 ('CHICAGO_PUBLIC_SCHOOLS', 'LEADERS_ICON', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'LEADERS_SCORE', 'VARCHAR', 3),
 ('CHICAGO_PUBLIC_SCHOOLS', 'TEACHERS_ICON', 'VARCHAR', 11),
 ('CHICAGO_PUBLIC_SCHOOLS', 'TEACHERS_SCORE', 'VARCHAR', 3),
 ('CHICAGO_PUBLIC_SCHOOLS', 'PARENT_ENGAGEMENT_ICON', 'VARCHAR', 7),
 ('CHICAGO_PUBLIC_SCHOOLS', 'COLLEGE_ENROLLMENT', 'SMALLINT', 2),
 ('CHICAGO_PUBLIC_SCHOOLS', 'GENERAL_SERVICES_ROUTE', 'SMALLINT', 2),
 ('CHICAGO_PUBLIC_SCHOOLS', 'FRESHMAN_ON_TRACK_RATE__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'X_COORDINATE', 'DECIMAL', 13),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Y_COORDINATE', 'DECIMAL', 13),
 ('CHICAGO_PUBLIC_SCHOOLS', 'LATITUDE', 'DECIMAL', 18),
 ('CHICAGO_PUBLIC_SCHOOLS', 'LONGITUDE', 'DECIMAL', 18),
 ('CHICAGO_PUBLIC_SCHOOLS', 'COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('CHICAGO_PUBLIC_SCHOOLS', 'COMMUNITY_AREA_NAME', 'VARCHAR', 22),
 ('CHICAGO_PUBLIC_SCHOOLS', 'WARD', 'SMALLINT', 2),
 ('CHICAGO_PUBLIC_SCHOOLS', 'POLICE_DISTRICT', 'SMALLINT', 2),
 ('CHICAGO_PUBLIC_SCHOOLS', 'LOCATION', 'VARCHAR', 27),
 ('CHICAGO_PUBLIC_SCHOOLS', 'PARENT_ENGAGEMENT_SCORE', 'VARCHAR', 3),
 ('CHICAGO_PUBLIC_SCHOOLS', 'PARENT_ENVIRONMENT_ICON', 'VARCHAR', 7),
 ('CHICAGO_PUBLIC_SCHOOLS', 'PARENT_ENVIRONMENT_SCORE', 'VARCHAR', 3),
 ('CHICAGO_PUBLIC_SCHOOLS', 'AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR', 6),
 ('CHICAGO_PUBLIC_SCHOOLS', 'RATE_OF_MISCONDUCTS__PER_100_STUDENTS_', 'DECIMAL', 5),
 ('CHICAGO_PUBLIC_SCHOOLS', 'AVERAGE_TEACHER_ATTENDANCE', 'VARCHAR', 6),
 ('CHICAGO_PUBLIC_SCHOOLS', 'INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE', 'VARCHAR', 7),
 ('CHICAGO_PUBLIC_SCHOOLS', 'PK_2_LITERACY__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'PK_2_MATH__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'GR3_5_GRADE_LEVEL_MATH__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'GR3_5_GRADE_LEVEL_READ__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'GR3_5_KEEP_PACE_READ__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'GR3_5_KEEP_PACE_MATH__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'GR6_8_GRADE_LEVEL_MATH__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'GR6_8_GRADE_LEVEL_READ__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'GR6_8_KEEP_PACE_MATH_', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'GR6_8_KEEP_PACE_READ__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'GR_8_EXPLORE_MATH__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'GR_8_EXPLORE_READ__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ISAT_EXCEEDING_MATH__', 'DECIMAL', 5),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ISAT_EXCEEDING_READING__', 'DECIMAL', 5),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ISAT_VALUE_ADD_MATH', 'DECIMAL', 3),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ISAT_VALUE_ADD_READ', 'DECIMAL', 3),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ISAT_VALUE_ADD_COLOR_MATH', 'VARCHAR', 6),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ISAT_VALUE_ADD_COLOR_READ', 'VARCHAR', 6),
 ('CHICAGO_PUBLIC_SCHOOLS', 'STUDENTS_TAKING__ALGEBRA__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'STUDENTS_PASSING__ALGEBRA__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', '9th Grade EXPLORE (2009)', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', '9th Grade EXPLORE (2010)', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', '10th Grade PLAN (2009)', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', '10th Grade PLAN (2010)', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'NET_CHANGE_EXPLORE_AND_PLAN', 'VARCHAR', 3),
 ('CHICAGO_PUBLIC_SCHOOLS', '11th Grade Average ACT (2011)', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'NET_CHANGE_PLAN_AND_ACT', 'VARCHAR', 3),
 ('CHICAGO_PUBLIC_SCHOOLS', 'COLLEGE_ELIGIBILITY__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'GRADUATION_RATE__', 'VARCHAR', 4),
 ('CHICAGO_PUBLIC_SCHOOLS', 'COLLEGE_ENROLLMENT_RATE__', 'VARCHAR', 4)]

In [9]:
%sql SELECT TABNAME, COLNAME, TYPENAME, LENGTH FROM SYSCAT.COLUMNS WHERE TABNAME='CHICAGO_CRIME_DATA'

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[('CHICAGO_CRIME_DATA', 'ID', 'INTEGER', 4),
 ('CHICAGO_CRIME_DATA', 'CASE_NUMBER', 'VARCHAR', 8),
 ('CHICAGO_CRIME_DATA', 'DATE', 'DATE', 4),
 ('CHICAGO_CRIME_DATA', 'BLOCK', 'VARCHAR', 35),
 ('CHICAGO_CRIME_DATA', 'IUCR', 'VARCHAR', 4),
 ('CHICAGO_CRIME_DATA', 'PRIMARY_TYPE', 'VARCHAR', 33),
 ('CHICAGO_CRIME_DATA', 'DESCRIPTION', 'VARCHAR', 46),
 ('CHICAGO_CRIME_DATA', 'LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('CHICAGO_CRIME_DATA', 'ARREST', 'VARCHAR', 5),
 ('CHICAGO_CRIME_DATA', 'DOMESTIC', 'VARCHAR', 5),
 ('CHICAGO_CRIME_DATA', 'BEAT', 'SMALLINT', 2),
 ('CHICAGO_CRIME_DATA', 'DISTRICT', 'SMALLINT', 2),
 ('CHICAGO_CRIME_DATA', 'WARD', 'SMALLINT', 2),
 ('CHICAGO_CRIME_DATA', 'COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('CHICAGO_CRIME_DATA', 'FBICODE', 'VARCHAR', 3),
 ('CHICAGO_CRIME_DATA', 'X_COORDINATE', 'INTEGER', 4),
 ('CHICAGO_CRIME_DATA', 'Y_COORDINATE', 'INTEGER', 4),
 ('CHICAGO_CRIME_DATA', 'YEAR', 'SMALLINT', 2),
 ('CHICAGO_CRIME_DATA', 'LATITUDE', 'DECIMAL', 18),
 ('CHICAGO_CRIME_DATA', 'LONGITUDE', 'DECIMAL', 18),
 ('CHICAGO_CRIME_DATA', 'LOCATION', 'VARCHAR', 29)]

In [19]:
%sql SELECT TABNAME, COLNAME, TYPENAME, LENGTH FROM SYSCAT.COLUMNS WHERE TABNAME='CENSUS_DATA'

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[('CENSUS_DATA', 'HARDSHIP_INDEX', 'SMALLINT', 2),
 ('CENSUS_DATA', 'COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('CENSUS_DATA', 'COMMUNITY_AREA_NAME', 'VARCHAR', 22),
 ('CENSUS_DATA', 'PERCENT_OF_HOUSING_CROWDED', 'DECIMAL', 4),
 ('CENSUS_DATA', 'PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'DECIMAL', 4),
 ('CENSUS_DATA', 'PERCENT_AGED_16__UNEMPLOYED', 'DECIMAL', 4),
 ('CENSUS_DATA', 'PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'DECIMAL', 4),
 ('CENSUS_DATA', 'PERCENT_AGED_UNDER_18_OR_OVER_64', 'DECIMAL', 4),
 ('CENSUS_DATA', 'PER_CAPITA_INCOME', 'INTEGER', 4)]

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [10]:
%sql SELECT COUNT(*) AS CRIMES_RECORDED_COUNT FROM CHICAGO_CRIME_DATA;

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [12]:
%sql SELECT Community_Area_Name FROM CENSUS_DATA WHERE Per_Capita_Income<11000;

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [30]:
%sql SELECT Case_Number from CHICAGO_CRIME_DATA\
WHERE description LIKE '%MINOR%';

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [31]:
%sql SELECT PRIMARY_TYPE, CASE_NUMBER, DESCRIPTION FROM CHICAGO_CRIME_DATA\
WHERE PRIMARY_TYPE='KIDNAPPING' AND DESCRIPTION LIKE '%CHILD%';

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[('KIDNAPPING', 'HN144152', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [37]:
%sql SELECT DISTINCT(PRIMARY_TYPE) FROM CHICAGO_CRIME_DATA\
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

List the average safety score for each type of school.### Problem 6

##### List the average safety score for each type of school.

In [43]:
%sql SELECT "Elementary, Middle, or High School", AVG(SAFETY_SCORE) AS AVERAGE_SAFETY_SCORE FROM CHICAGO_PUBLIC_SCHOOLS\
GROUP BY "Elementary, Middle, or High School";

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [46]:
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA\
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC NULLS LAST LIMIT 5;

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [51]:
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(COMMUNITY_AREA_NUMBER) AS CRIMES FROM CHICAGO_CRIME_DATA\
GROUP BY COMMUNITY_AREA_NUMBER\
ORDER BY CRIMES DESC LIMIT 1;

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[(25, 43)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [54]:
%sql SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX FROM CENSUS_DATA\
WHERE HARDSHIP_INDEX=(SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[('Riverdale', 98)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [65]:
%%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA
WHERE COMMUNITY_AREA_NUMBER=(SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA
                             GROUP BY COMMUNITY_AREA_NUMBER
                             ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1);

 * ibm_db_sa://hwm32972:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/BLUDB
Done.

[('Austin',)]

Copyright © 2020 This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>